.navbar-custom {
	background-color: #020826;
	color: white;
	box-shadow: 0px 0px 5px 0px #5ebcff;
}

#navDiv {
	padding-left: 15%;
	padding-right: 15%;
}

.nav-link{
	color: white;
	border-radius: 5px;
	transition: all 1s ease;
}

.nav-link:hover {
	color: white;
	background-color: #44bcc9;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transform: all .5s ease;
}

#menuCollapse {
	font-family: 'Raleway';
	color: white;
	padding-top: 15%;
	font-size: 2vh;
}


.nav-item {
/*	padding-left: 90px; */
	font-size: 20px;
	font-family: 'Raleway';
}

.navbar-brand {
	color: white;
	transition: all 1s ease;
}

@media (max-width: 1250px) { 
    #brandText {
        visibility: hidden;
        display: none;
        display: inline;
        position: absolute;
    }

    #menuCollapse {
    	justify-content: right;
    	display: inline;
    	position: relative;
    }

}

.navbar-brand:hover {
	color: #44bcc9;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transform: all .5s ease;
}

.navBarColor {
	background-color: white;
}

#nav_logo {
	width: 55px;
	height: 55px;
	margin-bottom: 3px;
	margin-left: -15px;
	margin-top: -5px;
	margin-right: 5px;
	
}

.container .fixed-top {
	background-color: #00204a;
}


@media (max-width: 1250px) {
	 .nav-item {
	font-size: 2vh;
	font-family: 'Raleway';
	text-align: right;
	float: right;
	margin-right: 2%;
	}

	.nav-link{
	color: white;
	border-radius: 5px;
	transition: all 1s ease;
	text-align: right;
	float: right;
}

.nav-link:hover {
	color: white;
	background-color: #44bcc9;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transform: all .5s ease;
}

}
