.body{
    background-color: #00204a;
}

.header{
    /* background-image: linear-gradient(#5ebcff, #424bf5); */
    /* background-color: #2585A1; */
    background-image: linear-gradient(52deg,#44bcc9 0%,#6688bd 100%);
    color: white;
    font-family: 'Raleway', sans-serif;    
    padding: 2%;
    margin-bottom: 2%;
    margin-top: 3%;
    padding-top: 3%;
    text-align: center;
}

.contact-form{
    margin: 0 auto;
    border-radius: 5px;
    border: 3px solid #44bcc9;
    color: white;
    width: 45%;
}

.form{
    margin-right: 15%;
    margin-left: 15%;
}

.block:hover .overlay {
    opacity:1;
}

.bi, .bi-x{
    color:white;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 2.5%;
}

.bi-x:hover{
    cursor: pointer; /* Add a pointer on hover */
}   

.nav-tabs{
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.tab-pane{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tab{
    padding: 10px;
    color: #5ebcff;
}
.tab:hover{
    background-color: #5ebcff;
    color: black;
    border-radius: 5px;
}

.tab a{
    display: inline-block;
    height: 100%;
    width: 100%;
}

.tab a:hover{
    text-decoration: none;
    color: black;
}

form input, select, textarea {
	border-radius: 5px;
	border:1px solid #00204a;
    margin-bottom: 10px; 
    margin-left: 5px; 
    padding: 10px;
}

#submit-btn {
    border-radius: 5px;
    border-style: none;
	display: block;
	margin: 0 auto;
	margin-top: 5%;
	padding: 10px;
}

#submit-btn:hover {
    background-color: black;
    color: white;
}

#tab{
    height: 100%;
    width: 100%;
}

#form-msg{
    color: black;
    text-align: center;
}
