/* new CSS file, old main one was being used for old template */


body {
	font-family: 'Raleway', sans-serif;
	margin-right: -2%;
}

#myVideo {
  margin-top: -10%;
  margin-left: -37%;
  min-width: 1925px;
  max-height: 1080px;
  max-width: 1925px;
  display: inline-block;
}

.row {
	text-align: center;
}

#templeU {
	/* color: rgb(165, 17, 17); */
	color: white;
	/*color: #c71832;*/
	font-size: 5vw;
}

#starsTitle {
	color: #44bcc9;
	margin-right: -5%;
	margin-left: -5%;
	/* color: black; */
	font-size: 5vw;
}

#at{
	font-size: 5vw;
}

.regBtn {
	text-align: center;
	margin: 0 auto;
	background-color: #020826;
	border: 1px solid #44bcc9;
	box-shadow: 0px 0px 4px 0px #44bcc9;

	/* background-image: linear-gradient(150deg,#5ebcff, 30%, #020826 70%); */
	/* box-shadow: 0px 0px 2px 0px #5ebcff; */
	color: white;
	border-radius: 5px;
	display: block;
	margin-top: 3%;
	padding: 10px;
	/* border: 1px solid #020826; */
	transition: all 1s ease;
}

.regBtn:hover {
	border: 1px solid #020826;
	box-shadow: 0px 0px 15px 0px #44bcc9;
	font-size: larger;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transform: all 0.5s ease;
}

#intro {
	margin: 0 auto;
	text-align: center;
	color: white;
	margin-top: 7%;
	/* margin-bottom: 25%; */
	display: inline; 
	font-size: 4vw;
}

@media (max-width: 1250px) {
	#templeU {
		font-size: 7vw;
	}
	
	#starsTitle {
		font-size: 7vw;
	}
	
	#intro {
		font-size: 5vw;
	}
  }

.col-xs-12 ,.col-sm-12{
	/* margin-left: 20%; */
}
#intro_image {
}

#intro_image_col {
	
}

#firstBackground {
   color: white;
   /* padding-bottom: 2%;
   margin-bottom: 10%; */
}

#desc {
	margin-right: -5%;
	margin-left: -5%;
}

.container-fluid {
	font-family: 'Raleway', sans-serif;
}

@media screen and (min-width: 601px) {
	body{
		font-size: 2vh;
	}
  }

  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
	body{
	  font-size: 3vh;
	}
  }

.start{
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transform: all .5s ease;
	box-shadow: 0px 0px 15px 0px #5ebcff;
}

#aboutUs {
	text-align: left;
	/* padding-top: 2%; */
	padding-bottom: 2%;
	padding-right: 2%;
	padding-left: 2%;
	margin-bottom: 3%;
	/* margin-right: 2%; */
	/* font-family: 'Raleway', sans-serif; */
	/* border: 3px solid #5ebcff; */
	/* background-color: #44bcc9; */
	/* background-color: #5ebcff; */
	/* background-image: linear-gradient(60deg,#5ebcff, 25%, #020826 75%); */
	/* border: 1px solid #5ebcff; */
	/* border: 1px solid #5ebcff; */
	border-radius: 3px;
	
	transition: all 2s ease;
}
#aboutUs:hover{
	/* background-image: linear-gradient(10deg,#5ebcff, 25%, #020826 75%); */
	/* border: 1px solid #5ebcff; */
	box-shadow: 0px 0px 15px 0px #44bcc9;
	cursor: pointer;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transform: all 1s ease;
}

#learnMoreBtn {
	background-color: #020826;
	border: 1px solid #5ebcff;
	color: white;
	margin:0 auto;
	border-radius: 5px;
	display: block;
	padding: 10px;
	/* border: 1px solid #020826; */
	transition: all 1s ease;
}

#learnMoreBtn:hover {
	/* border: 1px solid #5ebcff;
	background-color: #5ebcff; */
	box-shadow: 0px 0px 10px 0px #5ebcff;
	/* box-shadow: none;*/
	color: white;
	/* border: 1px solid #5ebcff; */
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transform: all .5s ease;
}

#outline{
	/* background-color: #5ebcff; */
}

#aboutUs3 {
	/* text-align: left;
	padding-top: 540px;
	padding-bottom: 540px; */
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: white;
	overflow-x: hidden;
}

.secondBackground {
	color: white;
	margin: 0 auto;
	/* margin-top: 8%; */
	margin-right: 10%;
	margin-left: 10%;
	/*/background-color: #20ab6a;*/
}

.thirdBackground {
	/*background-color: #6688BD;*/
	/*background-image: linear-gradient(to right, #3CA1A8, #2585A1);*/
	/* margin-top: 2%;
	margin-bottom: 5%; */
}

#abtUsh1 {
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: left;
	/* margin-left: 15%;
	margin-top: 7%; */
	font-size: 60px;
}

#ancmntTop {
	font-family: 'Raleway', sans-serif;
	color: white;
	/* margin-right: 8%; */

}

#signUpH1 {
	font-family: 'Raleway', sans-serif;
	color: white;
	/* margin-top: -2.5%; */
	font-size: 3.5vh;
}


#abtUsP {
	color: white;
}

#eventTitle {
	font-weight: bold;
	/* padding-bottom: 5%; */
}

#announcements {
	/* background-color: #5ebcff; */
	/* background-color: #5ebcff; */
	/* background-color: #6688bd; */
	/* border-image: linear-gradient(to right, red , yellow) 1 100%; */
	/* border: 1px solid #5ebcff; */
	/* border: 1px solid #5ebcff; */
	padding: 2%;
	margin-bottom: 3%;
	border-radius: 5px;
	text-align: left;
	transition: 2s ease;
}

#announcements:hover{
	/* background-image: linear-gradient(10deg,#5ebcff, 25%, #020826 75%); */
	/* border: 1px solid #5ebcff; */
	box-shadow: 0px 0px 15px 0px #44bcc9;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transform: all 1s ease;
}

#annonH1 {
	font-family: 'Raleway', sans-serif;
	color: white;
	text-align: right;
	/* margin-top: 7%;
	margin-right: 15%; */
	font-size: 60px;
}

@media (max-width: 1250px) {
	#mailingDiv {
		font-size: 1vh;
	}
	#signUpH1 {
		font-size: 2.5vh;
	}
  }
#mailingDiv {
	/* font-size: 2vh; */
	margin:0 auto;
	font: 'Raleway';
	width: 50%;
	/* background-color: #5ebcff; */
	/* border: 3px solid #5ebcff; */
	background-image: linear-gradient(140deg,#44bcc9, 30%, #020826 70%);
	padding: 2%;
	border-radius: 5px;
	margin-top: 5%;
	transition: all 3s ease;
}

#mailingDiv:hover {
	box-shadow: 5px 5px 20px 0px #44bcc9;
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
	-ms-transform: all .5s ease;
}

#mailingDiv button {
	border-radius: 5px;
	display: inline;
	border-style: none;
}

#mailingDiv input, select {
	border-radius: 5px;
	border-style: none;
	margin: 15px;
	margin-top: 20px;
	padding: 10px;
}


#mailingButton {
	background-color: #020826;
	border: 1px solid #5ebcff;
	/* background-image: linear-gradient(150deg,#5ebcff, 30%, #020826 70%); */
	/* box-shadow: 0px 0px 2px 0px #5ebcff; */
	color: white;
	border-radius: 5px;
	display: block;
	margin-top: 3%;
	padding: 10px;
	/* border: 1px solid #020826; */
	transition: all 1s ease;
}

#mailingButton:hover {
	/* border: 1px solid #5ebcff;
	background-color: #5ebcff; */
	box-shadow: 0px 0px 10px 0px #5ebcff;
	/* box-shadow: none;*/
	color: white;
	/* border: 1px solid #5ebcff; */
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transform: all .5s ease;
}

#centerMailing {
	/* margin-top: 100px; */
}

.fourthBackground {
	margin-top: 8%;
	padding-bottom: 8%;
	margin-left: 10%;
	margin-right: 10%;
}

#wwdTitleH1 {
	margin-bottom: 2%;
	text-align: center;
	font-size: 3.5vh;
}

.wwdItem {
	/* background-color: #5ebcff; */
	border: 1px solid #44bcc9;
	box-shadow: 0px 0px 4px 0px #44bcc9;
	border-radius: 5px;
	padding: 3%;
	margin:2%;
	height: 100%;
}

#card{
	margin-bottom:3%;
}

.wwdImage {
	width: 35%;
}

.wwdH1 {
	font-size: 3vh;
	padding-top: 5%;
	padding-bottom: 5%;
}

.wwdP {
	height: 7%;
}

.wwdItem {
	/* width: 75%;
	margin: 0 auto;
	margin-bottom: 2%; */
}

#wwdDiv {
	/* padding-bottom: 150px; */
}

